div{
    display: inline-block;
    width: 40%;
}

p{
    font-size: 2em;
}

.cat{
    float: left;
    background-color: aquamarine;
}

.dog{
    float: left;
    background-color: coral;
}

img{
    float: left;
}

footer{
    clear: both;
    text-align: center;
    background-color: blueviolet;
}
